/BotInterface.py
/user_settings.json
/timer.png
/test*
/picture*.png
/resource.zip
/captcha*.jpg
/gathering_configuration.json
/gathering_time*.png
/gold_node.png
/json_data.json
/main_logs.txt
/maraudeur_screen.png
/new_file.json
/*.json
/images to crop
/*.txt
/*.exe
/*.lnk
/Flet_Countdown.py
/Sample.py
/*png
/Flet_RoutesExemple.py!

auth compiled/
