cffi==1.15.1
clipboard==0.0.4
decohints==1.0.9
discord.py==2.2.3
flet_route==0.3.1
hikari_lightbulb==2.3.3
numpy==1.25.1
opencv_contrib_python==4.6.0.66
opencv_python==4.7.0.72
Pillow==10.0.1
portdev_utils_standard==1.1.2
pure_python_adb==0.3.0.dev0
PyAutoGUI==0.9.54
pytesseract==0.3.10
pywin32==305
hikari==2.0.0.dev120
flet_route==0.3.1
opencv_python==4.7.0.72
numpy==1.25.1
